.homepage {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 70px;
  text-align: center;
  letter-spacing: -2%;
}

h1 {
 font-weight: 600;
 font-size: 30px;
 text-align: center;
 letter-spacing: -4%;
 line-height: 35px;
}

br {
  font-weight: 700;
  color: $secondary-color;
}