@import 'config';
@import 'homepage.scss';
@import 'menu.scss';
@import 'contattami.scss';
@import 'cv.scss';
@import 'portfolio.scss';
@import 'discovery.scss';

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&display=swap');

body {
  background-color: $primary-color;
  font-family: 'League Spartan', 'Montserrat', sans-serif !important;
  line-height: 1;
}

header {
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;

  .social-icons {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
  }

  a {
    padding: 0.4rem;

    &:hover {
      color: $secondary-color; 
    }
  }
}

.nav-list {
  display: flex;
}

@media (max-width: 999px) {
  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0; 
    background-color: white;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    text-align: right; 
  }

  .menu-btn__burger {
    display: block;
    cursor: pointer;
  }

  .nav-list .button {
    margin-left: auto; 
    margin-top: 10px; 
  }
}

.menu-btn__burger {
  display: none;
  width: 30px;
  height: 3px;
  background-color: #333;
  position: relative;
  transition: all 0.3s ease;
}

.menu-btn__burger::before, .menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #333;
  transition: all 0.3s ease;
}

.menu-btn__burger::before {
  top: -10px;
}

.menu-btn__burger::after {
  top: 10px;
}

.nav-list.active {
  display: flex;
}

.footer-separator {
  border-top: 2px solid #A9CD9D;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 5px;
}

.footer {

  a {
    color: #f8f9fa; 
    text-decoration: none;
    &:hover {
      color: #d3d3d3; 
    }
  }

  padding-top: 3rem;
  padding-bottom: 2rem;

  
  p {
    font-size: 0.875rem;
  }

  .text-footer {
    font-family: 'Inter', sans-serif; 
    font-size: 16px; 
    text-align: left; 
    margin-bottom: 5px; 
  }

  .progress {
    height: 15px;
    margin-top: 0.8rem; 
  }

  .progress-bar {
    background-color: #AC7DC7; 
  }
  
  .social-links {
    display: flex;            
    justify-content: flex-start;        
    margin: 0;                   
    padding: 0;   
  }

  .social-links {
    a {
      transition: transform 0.2s;
      &:hover {
        transform: scale(1.2);
      }
      margin: 0;                 
      padding: 0;   
    }
    
.facebook,
.instagram {
  color: #AC7DC7; 
  opacity: 85%;
}

.linkedin {
  color: #A9CD9D; 
  opacity: 95%;
}
}

  @media (max-width: 576px) {
    .footer .social-links {
      text-align: center;
      font-size: 10px;
    }

    .footer .social-links a {
      margin-bottom: 12px; 
    }

    .progress {
      width: 80%;  
    }
  } 
}

.contattami,
.home {
  color: #343a40;
  transition: color 0.3s ease;
}


.footer a {
  font-size: 16px;
}

.footer p {
  margin-bottom: 5px; 
}



