$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$tertiary-color: var(--tertiaty-color);
$accent-color: var(--accent-color);
$text-color: var(--text-color);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}