$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$tertiary-color: var(--tertiaty-color);
$accent-color: var(--accent-color);
$text-color: var(--text-color);
$facebook-color: #ac7dc7;
$instagram-color: #ac7dc7;
$linkedin-color: #a9cd9d;
$hover-facebook-instagram: #324b84;
$hover-linkedin: #005d91;

.container {
  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: $text-color;
  }

  form {
    .form-label {
      font-size: 1rem;
      font-weight: 500;
      color: $text-color;
    }

    .form-control {
      border: 1px solid $secondary-color;
      border-radius: 8px;
      padding: 10px;
      font-size: 1rem;
      &:focus {
        border-color: $primary-color;
        box-shadow: none;
      }
    }

    button {
      background-color: $primary-color;
      border: none;
      border-radius: 8px;
      color: $primary-color;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 10px 20px;
      transition: background-color 0.3s;
      &:hover {
        background-color: $tertiary-color;
      }
    }
  }

  .mt-3 {
    font-size: 20px;
    font-weight: normal;
    color: $text-color;
    text-align: left;
    margin-bottom: 20px;
  }

  .call-text {
    padding-top: 60px;
    margin-bottom: 20px;
  }

  .mt-4 {
    font-size: 20px;
  }

  .btn-secondary {
    background-color: $primary-color;
    border: none;
    border-radius: 8px;
    color: $primary-color;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    margin-top: 900px;
    transition: background-color 0.3s;
    &:hover {
      background-color: $tertiary-color;
    }
  }

  p {
    font-size: 1.1rem;
    font-weight: 500;
    color: $text-color;
  }
}

.social-container {
  margin-top: 40px;
  text-align: center;

  a {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin: 0;
    color: #fff;
    text-decoration: none;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }

    i {
      font-size: 2.5rem;
    }
  }

  .facebook,
  .instagram {
    color: $facebook-color;
    &:hover {
      color: $hover-facebook-instagram;
    }
  }

  .linkedin {
    color: $linkedin-color;
    &:hover {
      color: $hover-linkedin;
    }
  }
}

@media (max-width: 991px) {
  .container {
    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      color: $text-color;
    }

    .form-control {
      font-size: 0.9rem;
      padding: 8px;
    }

    button {
      font-size: 1rem;
      padding: 8px 16px;
    }

    p {
      font-size: 1rem;
    }

    .mt-3 {
      margin-bottom: 10px;
    }

    .mt-4 {
      text-align: left;
      margin-top: 5px;
    }
  }

  .social-container {
    a {
      i {
        font-size: 2rem;
      }
    }
  }
}
